.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 80px;
  overflow-y: scroll;
}

.leftfixed-nav {
  padding: 1rem 2rem;
  top: 60px;
  height: calc(100vh - 60px) !important;
  overflow-y: scroll !important;
  z-index: 99 !important;
}

.btn-menu {
  display: initial;
  position: fixed;
  bottom: 2% !important;
  right: 2% !important;
  z-index: 12 !important;
}

.icon-lg {
  font-size: 1.3rem !important;
}

.groupinput {
  display: block;
  width: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.groupinput > label {
  margin-right: 0.5rem;
}

.price-slider{
  width: 100%;
}

.price-display{
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem;
}

.alert{
  display: none;
}

.alert.active{
  display: initial !important;
  display: flex !important;
  width: 300px;
  position: fixed !important;
  bottom: 3%;
  right: 2%;
  z-index: 20;
}

.btn-addtocart{
  width: 100%; 
}

@media screen and (min-width: 768px) {
  .App {
    padding: 0 2rem;
    padding-top: 80px;
  }
  .App.products{
    padding: 0 2rem 0 0;
    padding-left: calc(25% + 2rem) !important;
    padding-top: 80px;
  }
  .nav {
    left: 0;
  }
  .btn-menu {
    display: none;
  }
}
